/* reseteos generales */
*{
    box-sizing: border-box;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body{
    margin:0%;
    height: 100%;
    font-family: 'Varela Round', 'Courier New', Courier, monospace;
}

.conteiner{
    margin: 0px 15px;
}
.titulo{
    font-size: 70px;
    color: #4b1dca;
    margin: 20px 50px;
}
.navbar{
    display: flex;
    justify-items: left;
    flex-wrap: wrap;
    flex-direction: row;
}
nav ul li{
    margin-left: 60px;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li:hover{
    color: blue;
    text-decoration: underline;
}
